---
export async function getStaticPaths() {
  const data = await fetch("https://lbqpnyuobrgziblvfawh.supabase.co/rest/v1/karrusel?dato=eq.${spilledag}", {
    method: "GET",
    headers: {
      apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxicXBueXVvYnJnemlibHZmYXdoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTA0ODkyMTAsImV4cCI6MjAyNjA2NTIxMH0.gg9jixgR3HvEJ6hDJP0wxWX9Q-WNJibsw2W0ThsEHVw",
    },
  }).then((response) => response.json());

  return data.map((artist) => {
    return {
      params: { slug: artist.slug },
      props: { myData: artist },
    };
  });
}
const { myData } = Astro.props;
console.log(myData);
---

<Layout title={myData.navn}>
  <h2>{myData.navn}</h2>
  <h2>{myData.lokation}</h2>
</Layout>
