@font-face { font-family: 'Overwave';
    src: url('public/overwave/Overwave.ttf') format('truetype');

}
* {
  box-sizing: border-box;
}


body {
  background: radial-gradient(circle, #5C1DA9, #000000);

}

h1{
  color: white;
  font-family: overwave;
  text-align: center;
}

p,h2,h3 {
  color:white;
  font-family: Arial, Helvetica, sans-serif;
}




/* Stilarter for mobilvisning */
@media screen and (max-width: 767px) {
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 14px;
  }

  ul {
    font-size: 14px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }
}

/* Stilarter for desktopvisning */
@media screen and (min-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  p {
    font-size: 16px;
  }

  ul {
    font-size: 16px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }
}



