* {
  box-sizing: border-box;
}

body {
  background: radial-gradient(circle, #5C1DA9, #000000);

}





p {
  color:white
  font-family: Arial, Helvetica, sans-serif;
  
}

h1 {
  color: white;
  font-family: overwave;
}
h1{
  color: white;
}

.forside_tekst1,.forside_tekst2 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.5cap;
}

