---
import "../styles/style.css";
import Layout from "../layouts/Layout.astro";
import Header from "src/components/header.astro";
---

import header from "../components/header.astro"; import footer from "../components/footer.astro"; import Layout from "../Layout.astro"; ---

<Layout>
  <h1>ABOUT</h1>
  <img src="../img/about.webp" alt="about" />

  <h2>FESTIVAL EXPERIENCE</h2>
  <p>Karrusel is dedicated to creating a festival environment free from harassment, where everyone is encouraged to freely express themselves. We warmly welcome all individuals, celebrating diverse orientations, experiences, histories, and backgrounds. Our festival thrives on mutual care, respect for personal boundaries, appreciation of diversity, and active participation in our community. Should you ever feel unsafe, please don't hesitate to contact our awareness team. Dressed in pink vests, they'll be patrolling the festival grounds and stationed at their base (location indicated on this map). Any festival staff member will be more than willing to direct you to them.</p>

  <p>We urge everyone to:</p>

  <ul>
    <li>Be accountable for their actions.</li>
    <li>Honor their own and others' personal space and limits.</li>
    <li>Choose to speak up instead of turning away</li>
  </ul>

  <p>We look forward to seeing you!</p>
</Layout>
