---
import "../styles/style.css";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1>CONTACT</h1>

  <h2>Contact: info@nusnus.dk.</h2>
  <h2>Karrusel is organized by Nus Nus</h2>
  <h2>Instagram Facebook FB event Resident Advisor event</h2>
  <div class="grafik4">
    <img src="../img/swirl.svg" alt="swirl" />
  </div>
</Layout>

<style>
  .grafik4 {
    opacity: 20%;
    transform: rotate(110deg);
    width: 100%;
  }
</style>
