---
import "../styles/style.css";
import Layout from "../layouts/Layout.astro";
import ArtistCard from "../components/artist_card.astro";
---

<Layout>
  <div class="hero">
    <h1>Karrusel festival</h1>
    <div class="forside_tekst1">Refshaleøen</div>
    <div class="forside_tekst2">August 22–24, 2024</div>
  </div>

  <div class="card">
    <ArtistCard />
    <ArtistCard />
    <ArtistCard />
  </div>

  <div class="nedtælling1">48:10:08</div>
  <div class="nedtælling2">UNTIL KARRUSEL</div>
  <style>
    .h2forside {
      color: white;
    }

    .nedtælling1 {
      color: white;
      text-align: center;
      font-size: 50px;
      font-weight: 700;
    }

    .nedtælling2 {
      color: white;
      text-align: center;
    }
  </style>
</Layout>
