---
import "../styles/style.css";
import card from "../components/card.astro";
import header from "../components/header.astro";
import Layout from "../Layout.astro";
---

<Layout>
  <h1>Her er forsiden</h1>
  og en <div>test</div>
</Layout>
