---
import "../styles/style.css";
import header from "../components/header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="hero">
    <h1>Karrusel festival</h1>
    <div class="forside_tekst1">Refshaleøen</div>
    <div class="forside_tekst2">August 22–24, 2024</div>
  </div>
</Layout>

<style>
  .h2forside {
    color: white;
  }
</style>
