---
import "../styles/style.css";
import Layout from "../layouts/Layout.astro";
import ArtistCard from "../components/artist_card.astro";
---

<Layout>
  <div class="hero">
    <h1>Karrusel festival</h1>
    <div class="forside_tekst1">Refshaleøen</div>
    <div class="forside_tekst2">August 22–24, 2024</div>
  </div>

  <div class="card">
    <ArtistCard navn="PEGGY GOU" text="Kim Min-ji, known as Peggy Gou is a South Korean DJ, singer, song located in berlin, Germany. She has released seven EP’s on record labels including Ninja Tune and Phonica" />
    <ArtistCard navn="MINIMALENE" text="Minimalene is a Copenhagen based DJ.Great electronic music cannot be described. It is a feeling. For me, it is spiritualism.”" />
    <ArtistCard navn="PETER LÜTZEN" text="Peter Lützen is a Copenhagen based guitarist, singer and songwriter. featuring on danish groups panamah and Humørekspressen." />
  </div>

  <video width="320" height="240" controls>
    <source src="/public/billeder_videoforside/videoforside.mp4" type="video/mp4" />
    Din browser understøtter ikke videoafspilning.
  </video>

  <div class="nedtælling1">48:10:08</div>
  <div class="nedtælling2">UNTIL KARRUSEL</div>
  <style>
    .h2forside {
      color: white;
    }

    .nedtælling1 {
      color: white;
      text-align: center;
      font-size: 50px;
      font-weight: 700;
    }

    .nedtælling2 {
      color: white;
      text-align: center;
    }
  </style>
</Layout>
