---
import "../styles/style.css";
import Layout from "../layouts/Layout.astro";
import ArtistCard from "../components/artist_card.astro";
---

<Layout>
  <div class="hero">
    <h1>Karrusel festival</h1>
    <div class="forside_tekst1">August 22–24, 2024</div>
    <div class="forside_tekst2">REFSHALEØEN</div>
  </div>

  <div class="knapper">
    <div class="knaphøjre">EXPLORE OUR PROGRAM</div>
    <div class="knapvenstre">BUY TICKETS</div>
  </div>

  <div class="card">
    <ArtistCard img="public/billeder_videoforside/minimalene.webp" navn="PEGGY GOU" text="Kim Min-ji, known as Peggy Gou is a South Korean DJ, singer, song located in berlin, Germany. She has released seven EP’s on record labels including Ninja Tune and Phonica" />
    <ArtistCard img="public/billeder_videoforside/peggygou.webp" navn="MINIMALENE" text="Minimalene is a Copenhagen based DJ.Great electronic music cannot be described. It is a feeling. For me, it is spiritualism.”" />
    <ArtistCard img="public/billeder_videoforside/peterlutzen.webp" navn="PETER LÜTZEN" text="Peter Lützen is a Copenhagen based guitarist, singer and songwriter. featuring on danish groups panamah and Humørekspressen." />
  </div>

  <video id="autoplay-video" width="320" height="240" controls>
    <source src="/public/billeder_videoforside/videoforside.mp4" type="video/mp4" />
    Din browser understøtter ikke videoafspilning.
  </video>

  <div class="nedtælling1">48:10:08</div>
  <div class="nedtælling2">UNTIL KARRUSEL</div>
  <style>
    .h2forside {
      color: white;
    }

    .card {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }

    .forside_tekst1 {
      text-align: center;
      font-size: 2rem;
      padding-top: 20rem;
      font-weight: bold;
    }

    .forside_tekst2 {
      text-align: center;
      font-size: 2rem;
      font-weight: bold;
    }

    .knapper {
      display: flex;
      color: #0f0;
    }

    .knapvenstre {
      background-color: transparent; /* Gennemsigtig baggrundsfarve */
      border: 3px solid #0f0; /* Grøn streg */
      padding: 8px 16px;
      border-radius: 4px;
      cursor: pointer;
    }

    .knaphøjre {
      color: #0f0;
      text-align: center;
      text-decoration: underline;
    }

    .nedtælling1 {
      color: white;
      text-align: center;
      font-size: 50px;
      font-weight: 700;
    }

    .nedtælling2 {
      color: white;
      text-align: center;
    }
    #autoplay-video {
      width: 100%;
      height: 100vh;
    }
  </style>

  <script>
    // Få videoen og dens position
    const video = document.getElementById("autoplay-video");
    const videoObserver = new IntersectionObserver((entries) => {
      entries.forEach((entry) => {
        // Hvis videoen er synlig i visningen
        if (entry.isIntersecting) {
          // Start afspilning af videoen
          video.play();
          // Stop observationen, så vi ikke starter videoen igen
          videoObserver.unobserve(entry.target);
        }
      });
    });

    // Observér videoen
    videoObserver.observe(video);
  </script>
</Layout>
