---
import "../styles/style.css";
import Layout from "../layouts/Layout.astro";
import Program from "../components/program.astro";
---

<Layout>
  <h1>LINEUP</h1>
  <div class="grafik2">
    <img src="../img/swirl.svg" alt="" />
  </div>
  <div class="grafik3">
    <img src="../img/swirl.svg" alt="" />
  </div>
</Layout>

<style>
  h3 {
    text-align: center;
  }

  .grafik2 {
    opacity: 20%;
    width: 100%;
  }

  .grafik3 {
    opacity: 20%;
    width: 100%;
    transform: rotate(180deg);
  }
</style>
