---
import "../styles/style.css";
import Layout from "../layouts/Layout.astro";
import Program from "../components/program.astro";
---

<Layout>
  <h1>LINEUP</h1>

  <h3>hej</h3>
</Layout>

<style>
  h3 {
    text-align: center;
  }
</style>
