---
import "../styles/style.css";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1>TICKETS</h1>
  <img src="../img/billet.svg" alt="billet" />

  <h2>KEEP AN EYE OUT FOR OUR 1 DAY TICKETS</h2>

  <img src="../img/øjne.svg" alt="" />
</Layout>
