---
import "../styles/style.css";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1>TICKETS</h1>

  <div class="tickets_container">
    <img src="../img/billet.svg" alt="billet" class="ticket-image" />
  </div>

  <h2>KEEP AN EYE OUT FOR OUR 1 DAY TICKETS!</h2>

  <div class="eye_container">
    <img src="../img/øjne.svg" alt="" class="eye-image" />
  </div>
</Layout>
