---
import "../styles/style.css";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1>VOLUNTEER</h1>

  <h2>DO YOU WANNA BE A PART OF OUR TEAM?</h2>

  <div class="knap_volunteer">
    <div class="knap1">JOIN US</div>
  </div>

  <p>Volunteer at Karrusel festival and become a part of our fantastic community! Experience the togetherness and get a lot of benefits.</p>

  <div class="volunteer_img">
    <img src="/public/artisterpictures/acidpauli.webp" alt="" />
    <img src="/public/artisterpictures/acidpauli.webp" alt="" />
    <img src="/public/artisterpictures/acidpauli.webp" alt="" />
    <img src="/public/artisterpictures/acidpauli.webp" alt="" />
  </div>
</Layout>

<style>
  .knap_volunteer {
    display: flex;
    color: #0f0;
    justify-content: center;
  }

  .knap1 {
    border: 3px solid #0f0; /* Grøn streg */
    text-align: center;
    border: 2px solid #0f0;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
  }

  .volunteer_img {
    grid: flex;
    align-items: center;
    justify-content: center; /* Center horizontally */
    max-width: 100%;
    object-fit: cover;
  }

  .volunteer_img img {
    max-width: 100%;
    object-fit: cover;
  }

  @media (min-width: 768px) {
    .volunteer_img {
      flex-wrap: wrap;
      justify-content: center; /* Center images horizontally */
      text-align: center;
    }
    .volunteer_img img {
      flex: 0 0 calc(50% - 10px); /* Adjust to fit 2 images per row with some spacing */
      margin: 5px; /* Adjust margin between images */
    }
  }
</style>
