---
import "../styles/style.css";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1>VOLUNTEER</h1>

  <h2>DO YOU WANNA BE A PART OF OUR TEAM?</h2>

  <div class="knap_volunteer">
    <div class="knap1">JOIN US</div>
  </div>

  <p>Volunteer at Karrusel festival and become a part of our fantastic community! Experience the togetherness and get a lot of benefits.</p>
</Layout>

<style>
  .knap_volunteer {
    display: flex;
    color: #0f0;
  }

  .knap1 {
    border: 3px solid #0f0; /* Grøn streg */
    text-align: center;
    border: 2px solid #0f0;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
  }
</style>
