---
const navn = Astro.props.navn;
const billede = Astro.props.billede;
const text = Astro.props.text;
---

<article>
  <div class="card">
    <h3>{navn}</h3>
    <p>{text}</p>
  </div>
</article>

<style>
  .card {
    display: grid;
    grid-template-columns: 1fr;
  }

  h3 {
    color: white;
  }
</style>
