---

---

<article>
  <div class="card">
    <img src="" alt="" />
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, eos inventore, doloribus non eum excepturi laboriosam quibusdam, dicta blanditiis sapiente facere dolorum vel ipsa impedit voluptatem unde praesentium iusto facilis.</p>
  </div>
</article>

<style>
  .card {
    display: grid;
    grid-template-columns: 1fr;
  }
</style>
