---
const navn = Astro.props.navn;
const billede = Astro.props.billede;
const text = Astro.props.text;
const img = Astro.props.img;
---

<article>
  <div class="card">
    <img src={img} alt="" />
    <h3>{navn}</h3>
    <p>{text}</p>
  </div>
</article>

<style>
  h3 {
    color: white;
  }

  .card {
    display: grid;
    text-align: center;
  }

  .card img {
    width: 100%;
    object-fit: cover;
    align-self: stretch;
  }
</style>
