---

---

<nav>
<<<<<<< HEAD
    <a href="/#">About</a>
    <a href="/#">Tickets</a>
    <a href="/#">Program</a>
    <a href="/#">Contact</a>
    <a href="/#">Volunteer</a>
    <a href="/#">Gallery</a>
</nav>
=======
  <a href="/#">About</a>
  <a href="/#">Tickets</a>
  <a href="/#">Program</a>

  <a href="/#">Contact</a>
  <a href="/#">Volunteer</a>
  <a href="/#">Gallery</a>
</nav>

<style>
  nav {
    display: flex;
    gap: 1rem;
  }
</style>
>>>>>>> maya
