---
const dato = Astro.props.dato;
const hovednavn = Astro.props.hoved;
const mellemnavn = Astro.props.mellemnavn;
const lillenavn = Astro.props.lillenavn;
---

<article>
  <div class="program">
    <h3>{dato}</h3>
    <div class="hovednavn">{hovednavn}</div>
    <div class="mellemnavn">{mellemnavn}</div>
    <div class="lillenavn">{lillenavn}</div>
  </div>
</article>
